<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>881085799667-t20fj3d29ec79slp6rcrnmmau0i24p9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881085799667-t20fj3d29ec79slp6rcrnmmau0i24p9f</string>
	<key>API_KEY</key>
	<string>AIzaSyCc_ifhf6MbxV9jJGFqvcBtXB2-Q3sopb4</string>
	<key>GCM_SENDER_ID</key>
	<string>881085799667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>www.realizertech.com.firebasechat</string>
	<key>PROJECT_ID</key>
	<string>pushmynotice-55d27</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotice-55d27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:881085799667:ios:f26b52cd8ed03ad9</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotice-55d27.firebaseio.com</string>
</dict>
</plist>